@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|PT+Sans|PT+Serif|PT+Serif+Caption|Roboto|Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Roboto&family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,700&display=swap');

body {
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    color: #4f4e4b;
    background-color: #f2f1f6;
}

header {
    background-color: #0e0d0d;
    opacity: .6;

}


.nav-link {
    font-size: 12px;
    font-weight: 700;
    margin: 8px;
    color: #fff !important;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

.bg-header {
    background: url('../images/bg-hand.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;

}

.index {
    padding-top: 12%;
}

.header-text {
    font-size: 57px;
    font-weight: 600;
    color: #ffffff;
    font-family: 'Acme', sans-serif;
    text-transform: uppercase;
}

.sub-text {
    font-size: 26px;
    color: #ffffff;
    font-family: 'Courgette', cursive;
}

.first-col {
    margin: 2%;
    margin-top: 8%;

}

.book-image {
    width: 255px;
    background: #fff;
    border: 1px solid rgb(22, 22, 22);
}

.caption {
    font-size: 15px;
}

.text-one {
    font-size: 45px;
    font-weight: 400;
    line-height: 1.5;
    color: #a82e2e;
   
}
.first-col .btn{
    background-color: #d75f04;
    color: #fff;
    padding: 8px 30px ;
    margin-bottom: 3%;
}
.btn {
    background-color: #d75f04;
    color: #fff;
}

.list{
    list-style-type: none;
}

.list li a {
    color: #d75f04;
    text-transform: uppercase;
    font-family: 'Bitter', serif;
    font-size: 20px;
    line-height: 2;
    text-decoration: none;

}

/** Open Government Styles */
.bg-open-government {
    background: url('../images/open-government.jpg');
    background-size: cover;
}

.open-head {
    font-size: 40px;
    color: rgb(12, 12, 155);
    letter-spacing: 1px;
    font-family: 'Lobster', cursive;
}

.open-text {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 150%;

}

.small {
    font-size: 14px;
    color: chocolate;
}

.open-para {
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 150%;
}

.link {
    color: chocolate;
}

.open-list li {
    list-style-type: none;
    display: inline;
    margin: 1%;
}

/** Election Styles **/
.bg-election {
    background: url('../images/vote.png');
    background-size: cover;
}

.card {
    margin: 3%;
}

/** Donate Styles **/
.bg-donate {
    background: url('../images/donate.png');
    background-size: cover;
}

.donate-head {
    font-size: 2.25em;
    color: #333333;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
}

.donate-para {
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 1.5;
    padding: .5em 0;
}

/** Employment Styles **/
.bg-employment {
    background: url('../images/employment.png');
    background-size: cover;
}

.emp-text {
    font-size: 57px;
    font-weight: 600;
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.emp-head {
    font-size: 32px;
    color: rgb(12, 12, 155);
    letter-spacing: 1px;
    font-family: 'Lobster', cursive;
}

.emp-para {
    font-size: 20px;
    letter-spacing: .5px;
    line-height: 150%;
}

/* About US Styles */

.bg-about-us {
    background: url('../images/about.jpg');
    background-size: cover;
}

.about-para {
    color: rgb(12, 12, 155);
    font-size: 17.5px;
    letter-spacing: .5px;
    line-height: 150%;
}

/* Volunteer Styles **/
.bg-volunteer {
    background: url('../images/volunteer.png');
    background-size: cover;
}

.red {
    color: red;
}

.form-check {
    display: block;
    position: relative;
    padding-left: 15px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.form-check-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
}

/** Contact US Styles **/
.bg-contact {
    background: url('../images/contact-us.png');
    background-size: cover;
}

/** Brown Background **/
.bg-brown {
    background-color: #d75f04;
}

.records {
    margin-top: 5%;
}

.records-head {
    font-size: 2.25em;
    color: #5040ae;
    font-family: 'Crimson Text', serif;
}

.records hr {
    margin: 3% 0;
}

.records p {
    font-size: 16px;
    line-height: 1.5;

}

a.link{
    color: #df5f04;
    text-decoration: none;
}